<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Data Fabricação</th>
        <th>Novo</th>
        <th></th>
    </tr>
    <tr th:each="prod:${produtos}">
        <td th:text="${prod.nome}"></td>
        <td th:text="${prod.preco}"></td>
        <td th:text="${prod.dataFabricacao}"></td>
        <td th:text="${prod.novo?'Sim':'Não'}"></td>
    </tr>
</table>
</body>
</html>